* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.index__container {
    width: 100%;
    margin-top: 120px;
    height: calc(100vh - 120px);
}

.index__content__container {
    width: 90%;
    height: 90%;
}

.index__content__img__item {
    width: 60%;
    height: 100%;
    position: relative;
}

.index__content__img__overlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.index__content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.index__content__item {
    width: 40%;
    padding: 0 20px;
}

.index__content__box {
    width: calc(100% - 40px);
    height: calc(100% - 300px);
}

.index__content__small__img__container {
    width: calc(100% - 40px);
    height: 300px;
    position: relative;
}

.index__content__small__img__overlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.index__content__small__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}



/* Headers */
.mv__header__container,
.focused__header__container,
.gallery__main__header,
.objective__header__container {
    padding-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.border__right,
.border__left {
    flex: .4;
    border: 1px solid var(--sage);
    height: 100%;
}

.border__center {
    height: 100%;
    width: fit-content;
    padding: 0 20px;
    font-size: 40px;
    font-weight: 600;
    color: var(--orange);
}

.border__center p {
    font-size: 40px;
    font-weight: 600;
    color: var(--orange);
}

.story__container {
    width: 100%;
    height: 70vh;
}

.story__item__box {
    width: 90%;
    height: 100%;
}

.story__item {
    width: 50%;
    height: 100%;
}



.story__img {
    width: 80%;
    height: 400px;
    object-fit: cover;
}


.story__item__header {
    align-items: center;
    justify-content: space-between;
}

.story__item__content__container {
    padding: 100px 30px;
    border-radius: 10px;
    color: var(--black);
    font-size: 1.5rem;
}

.story__content__container {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    justify-content: space-around;

}

/* Mission & Vision */
.mv__container {
    margin: 50px 0;
}

.mv__main__container {
    width: 90%;
    height: 100%;
    justify-content: space-between !important;
    background: url("https://cdn.pixabay.com/photo/2020/12/15/13/44/children-5833685_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.mv__item__container {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    border-radius: 20px;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.mv__item {
    width: 40%;
    height: 100%;
    padding: 20px 30px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 700;
}


.mv__item__header {
    font-size: 2rem;
    padding-bottom: 30px;
}

.mv__item__para {
    font-size: 1.25rem;
    line-height: 25px;
    text-align: justify;
}

/* Founders */
.founder__container {
    width: 100%;
    height: fit-content;
    padding: 0;
}

.founder__main__container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.founder__items {
    width: 95%;
    height: 100%;
}

.founder__header__container {
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.founder__card__container {
    width: 50%;
    height: 100%;
    padding: 0 20px;
}

/* Focused */
.focused__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.focused__card__container {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    overflow: hidden;
}

.objective__main__container {
    width: 100%;
    height: 100%;
    padding: 100px;
}

.objective__content {
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
    text-align: justify;
}

/* Gallery */

.index__gallery__card__container {
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    justify-content: space-around;

}

.index__gallery__img {
    width: calc(100% / 3.2);
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}


.view__more__container {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

.view__more__btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--sage);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.journey {
    width: 100%;
    height: fit-content;
    padding: 30px 0;
}

.journey__item {
    width: 90%;
    height: 400px;
    position: relative;
}

.journey__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.journey__overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    color: var(--white);
    background: rgba(0, 0, 0, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border-radius: 10px;
}

.journey__overlay__heading {
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.journey__donate {
    border: none;
    font-size: 1.2rem;
    padding: 15px 30px;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--green);
}

@media screen and (max-width: 768px) {
    .index__container {
        height: fit-content;
        padding-top: 30px;
        flex-direction: column;
    }

    .index__content__container {
        width: 100%;
        flex-direction: column;
    }

    .index__img__1 {
        display: none;
    }

    .index__content__item {
        width: 100%;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
    }

    .index__content__box {
        width: 100%;
        font-size: 1.1rem;
        height: fit-content;
        padding-bottom: 30px;
    }

    .index__content__small__img__container {
        width: 100%;
    }

    .story__container {
        height: fit-content !important;
        flex-direction: column !important;
    }

    .story__item {
        width: 100% !important;
        height: fit-content !important;
    }


    .story__item__box {
        flex-direction: column !important;
    }

    .story__content__container {
        padding: 30px 0;
    }

    .story__item__content__container {
        padding: 0;
        text-align: justify;
        font-size: 1.2rem;
    }

    .story__img {
        width: 100%;
        height: 250px;
    }

    .floating__blob__svg {
        margin-right: 0;
    }

    .story__item__content {
        margin-top: 50px;
    }

    .mv__main__container {
        flex-direction: column !important;
    }

    .mv__item__container {
        padding: 30px 0;
        flex-direction: column !important;
    }

    .mv__item {
        padding: 20px 30px;
        width: 100% !important;
        height: fit-content !important;
    }

    .founder__container {
        padding: 0;
        height: fit-content !important;
    }

    .founder__main__container {
        padding: 30px 0;
        height: fit-content !important;

    }

    .founder__items {
        width: 100% !important;
        flex-direction: column !important;
    }

    .founder__card__container {
        width: 100% !important;
        padding: 20px 0;
    }

    .founder__card {
        width: 100% !important;

    }

    .objective__main__container {
        padding: 50px 0;

    }

    .index__gallery__card__container {
        padding: 50px 20px;
        flex-direction: row !important;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .index__gallery__img {
        width: 350px;
        height: 300px;
    }

    .journey {
        padding-top: 0;
    }

    .journey__overlay__heading {
        font-size: 40px;
    }
}