.founder__card {
    width: 100%;
    height: 300px;
}

.founder__card__img__container {
    width: 40%;
    height: 100%;
}

.founder__card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.founder__card__content {
    width: 60%;
    font-size: 18px;
    padding-left: 20px;
    align-items: flex-start !important;
}

.founder__card__name {
    padding-top: 10px;
}

.quote__img {
    width: 50px;
    height: 50px;
}

.founder__card__desc {
    font-size: 22px;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .founder__card {
        padding: 0 20px;
        height: fit-content;
        flex-direction: column !important;
    }

    .founder__card__img__container {
        width: 100%;
        height: 250px;
    }

    .founder__card__content {
        width: 100%;
        padding-left: 0;
        text-align: justify;
        align-items: flex-start !important;
    }
}