@font-face {
  font-family: "Sprint Sans Regular";
  src: url("./assets/Fonts/SprintSansRegular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --green: #2d8659;
  --light-green: #52b788;
  --forest-green: #1b4332;
  --earth-brown: #8b7355;
  --sage: #87a878;
  --sand: #d4a574;
  --terra-cotta: #bc6c25;
  --olive: #6a8532;
  --rich-black: #010b13;
  --gray: #808080;
}
#root {
  width: 100%;
  height: fit-content;
}
body {
  font-size: 1.1rem;
  font-family: "Sprint Sans Regular", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}
.nav__margin {
  margin-top: 120px;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.cent {
  display: flex;
  align-items: center;
  justify-content: center;
}
